.ios,
div,
.ios,
.md {
    --primary: #0c4daf;
    --white: #fff;
    --text-light: #c9ced4;
    --bg-color: #0c4daf;
    --transparent: rgba(0, 0, 0, 0);
}

ion-header {
    z-index: 999;
    background: var(--bg-color);
    &::after {
        display: none !important;
    }
    .main-icon-size{
        width: 50%;
        margin: 2em 0 2em 7em;
    }
    ion-toolbar {
        --background: none;
        display: block;
        align-items: center;
        min-height: 50px !important;
        height: auto;
        overflow: visible !important;
        --border-width: 0 !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        ion-buttons {
            position: relative !important;
            margin: 0;
            --padding-end: 0 !important;
            --padding-start: 0 !important;
            ion-back-button {
                --color: var(--text-black) !important;
                --icon-font-size: 2rem !important;
            }
            ion-menu-button {
                --color: var(--text-black) !important;
                --padding-end: 0 !important;
                font-size: 1.5rem !important;
                &.ios {
                    font-size: 2rem !important;
                }
            }
            ion-back-button {
                .button-native {
                    padding: 0 !important;
                }
            }
            &.ios {
                padding: 0 10px !important;
            }
        }
        ion-title {
            color: var(--text-dark-secondary);
            padding: 0 15px !important;
            font-size: 1.1rem;
            font-weight: 600;
            display: block;
            overflow: visible !important;
            line-height: 50px;
        }
    }
    &.bg_transparent {
        ion-toolbar {
            --background: transparent;
            --ion-color-base: transparent !important;
        }
    }
}

.banner {
    .banner_img {
         --primary: var(--ion-color-primary);
        img {
            max-width: 400px;
            margin: 0 auto;
            display: block;
        }
    }
    .banner_text {
        margin: 2.5em 0 2.5em 0;
        width: 100%;
        background: var(--bg-color);
        padding: 15px 20px;
        h2 {
            margin: 0;
            padding: 0 0;
            font-weight: 700;
            font-size: 1.15rem;
            color: var(--text-white);
            padding-bottom: 5px;
            text-align: center;
        }
        
    }
}

ion-content {
    --background: var(--bg-color);
    .text {
        margin: 2em;
        text-align: center;
        font-weight: bolder;
        font-size: 1.5em;
    }
}

ion-list {
    padding-top: 12px;
    margin: 0;
    width: 100%;
    background: none !important;
    ion-item {
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --background: var(--transparent);
        width: calc(100% - 23px);
        margin: 0 auto;
        border-radius: 40px;
        padding: 9px;
        overflow: hidden;
        position: relative;
        background: var(--white);
        margin-bottom: 11px;
        .item_inner {
            width: 100%;
            display: flex;
            align-items: center;

            .text_box {
                width: 100%;
                padding-top: .5em;
                h2 {
                    margin: 0;
                    padding: 0 0;
                    font-weight: 800;
                    font-size: 1.2rem;
                    color: var(--bg-color);
                    text-align: center;
                    align-items: center;
                
                }

            }
        }
    }
}