
<ion-content fullscreen>
  <div class="logo-box ion-text-center">
      <img src="assets/images/favicon.png" class="animated zoomIn delay_2">
  </div>

  <div class="form">
      <p class="text">Enter your id</p>
      <ion-list lines="none" class="animated slideInUp delay_2">
          <ion-item lines="none">
              <ion-input type="number" placeholder="Enter a 3 digit id"></ion-input>
              <ion-button slot="end" size="large" shape="round" class="btn">next</ion-button>
          </ion-item>
      </ion-list>
  </div>
</ion-content>