<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
<ion-content fullscreen>
    <div class="form">
      <p class="text">Choose the operator you wish to use</p>
      <ion-list lines="none">
            <ion-item>
                <div class="item_inner" [routerLink]="['/personal']">
                    <div class="text_box">
                        <h2>ORANGE</h2>  
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="item_inner" [routerLink]="['/personal']">
                    <div class="text_box">
                        <p>MTN</p>  
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="item_inner" [routerLink]="['/personal']">
                    <div class="text_box">
                        <h2>CAMTEL</h2>  
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>