<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
  </ion-toolbar>
  <ion-content fullscreen class="bg_color">
    <p class="text">Select your daily bundle</p>
    <div class="tab_content">
      <ion-list lines="none">
        <ion-item>
          <div class="img_box center_img">
            <img src="assets/icon/camtel.png" class="crop_img">
          </div>
          <ion-label [routerLink]="['/camtel']">
            <h2>Good Deal</h2>
            <h3 class="d-flex">
            <span class="message">
              Up to 3GB internet and 50000frs calls to all networks
            </span>
            <span class="end">
              1,000 FRS
            </span>
            </h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <div class="img_box center_img">
            <img src="assets/icon/camtel.png" class="crop_img">
          </div>
          <ion-label [routerLink]="['/camtel']">
            <h2>Good Deal</h2>
            <h3 class="d-flex">
            <span class="message">
              Up to 3GB internet and 50000frs calls to all networks
            </span>
            <span class="end">
              1,000 FRS
            </span>
            </h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <div class="img_box center_img">
            <img src="assets/icon/camtel.png" class="crop_img">
          </div>
          <ion-label [routerLink]="['/camtel']">
            <h2>Good Deal</h2>
            <h3 class="d-flex">
            <span class="message">
              Up to 3GB internet and 50000frs calls to all networks
            </span>
            <span class="end">
              1,000 FRS
            </span>
            </h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <div class="img_box center_img">
            <img src="assets/icon/camtel.png" class="crop_img">
          </div>
          <ion-label [routerLink]="['/camtel']">
            <h2>Good Deal</h2>
            <h3 class="d-flex">
            <span class="message">
              Up to 3GB internet and 50000frs calls to all networks
            </span>
            <span class="end">
              1,000 FRS
            </span>
            </h3>
          </ion-label>
        </ion-item>
        
      </ion-list>
    </div>
  </ion-content>