<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="center_img">
        <img src="assets/icon/payment-method-pay-svgrepo-com.svg" alt="view our app" class="main-image">
    </div>

  <div class="banner">
      <div class="banner_text">
          <h2>Welcome to our app</h2>
      </div>
  </div>

  <ion-list lines="none">
      <ion-item>
          <div class="item_inner" [routerLink]="['/personal']">
              <div class="text_box">
                  <h2>Bundles</h2>  
              </div>
          </div>
      </ion-item>
  </ion-list>
</ion-content>